USE [master]
GO
/****** Object:  Database [quanlykhachsan4]    Script Date: 7/8/2020 12:26:24 PM ******/
CREATE DATABASE [quanlykhachsan4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlykhachsan4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlykhachsan4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlykhachsan4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlykhachsan4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlykhachsan4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlykhachsan4]
GO
/****** Object:  Table [dbo].[tbl_chucvu]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chucvu](
	[MACHUCVU] [varchar](5) NOT NULL,
	[TENCHUCVU] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dichvu]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dichvu](
	[MADICHVU] [varchar](5) NOT NULL,
	[TENDICHVU] [nvarchar](50) NULL,
	[GIADICHVU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hoadon]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hoadon](
	[MAHOADON] [varchar](5) NOT NULL,
	[NGAYTHANHTOAN] [smalldatetime] NULL,
	[SOTIENDATTRUOC] [int] NULL,
	[MANHANVIEN] [varchar](5) NULL,
	[DUNGDICHVU] [varchar](5) NULL,
	[SOTIENTRASAU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_khachhang]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_khachhang](
	[MAKHACHHANG] [varchar](5) NOT NULL,
	[TENKHACHHANG] [varchar](30) NULL,
	[TINH/THANHPHO] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[CMND] [varchar](10) NULL,
	[SDT] [char](13) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_loaiphong]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_loaiphong](
	[MALOAIPHONG] [varchar](6) NOT NULL,
	[TENLOAIPHONG] [nvarchar](30) NULL,
	[TRANGBI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nhanvien]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nhanvien](
	[MANHANVIEN] [varchar](5) NOT NULL,
	[TENNHANVIEN] [nvarchar](30) NULL,
	[MACHUCVU] [varchar](5) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[TINH/THANHPHO] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_phieudangky]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_phieudangky](
	[MAPHIEUDANGKY] [varchar](5) NOT NULL,
	[MAKHACHHANG] [varchar](5) NULL,
	[MANHANVIEN] [varchar](5) NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[NGAYDI] [smalldatetime] NULL,
	[MAPHONG] [varchar](6) NULL,
	[TRATRUOC] [int] NULL,
	[DONVI] [varchar](5) NULL,
	[MADICHVU] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDANGKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_phong]    Script Date: 7/8/2020 12:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_phong](
	[MAPHONG] [varchar](6) NOT NULL,
	[SOGIUONG] [nvarchar](20) NULL,
	[TINHTRANG] [nvarchar](15) NULL,
	[MALOAIPHONG] [varchar](6) NULL,
	[GIAPHONG] [int] NULL,
	[DONVI] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_chucvu] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV01', N'Nhân viên lễ tân')
INSERT [dbo].[tbl_chucvu] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV02', N'Nhân viên đặt phòng')
INSERT [dbo].[tbl_chucvu] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV03', N'Nhân viên thu ngân')
GO
INSERT [dbo].[tbl_dichvu] ([MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'DV01', N'Spa', 300000)
INSERT [dbo].[tbl_dichvu] ([MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'DV02', N'Giặc ủi quần áo', 10000)
INSERT [dbo].[tbl_dichvu] ([MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'DV03', N'Xe đưa đón', 500000)
GO
INSERT [dbo].[tbl_hoadon] ([MAHOADON], [NGAYTHANHTOAN], [SOTIENDATTRUOC], [MANHANVIEN], [DUNGDICHVU], [SOTIENTRASAU]) VALUES (N'HD01', CAST(N'2020-07-06T00:00:00' AS SmallDateTime), 100000, N'NV06', N'DV02', 200000)
INSERT [dbo].[tbl_hoadon] ([MAHOADON], [NGAYTHANHTOAN], [SOTIENDATTRUOC], [MANHANVIEN], [DUNGDICHVU], [SOTIENTRASAU]) VALUES (N'HD02', CAST(N'2020-07-06T00:00:00' AS SmallDateTime), 500000, N'NV06', N'DV01', 500000)
INSERT [dbo].[tbl_hoadon] ([MAHOADON], [NGAYTHANHTOAN], [SOTIENDATTRUOC], [MANHANVIEN], [DUNGDICHVU], [SOTIENTRASAU]) VALUES (N'HD03', CAST(N'2020-07-07T00:00:00' AS SmallDateTime), 200000, N'NV07', N'DV03', 300000)
GO
INSERT [dbo].[tbl_khachhang] ([MAKHACHHANG], [TENKHACHHANG], [TINH/THANHPHO], [GIOITINH], [CMND], [SDT], [QUOCTICH]) VALUES (N'KH01', N'Mã Van Tài', N'TP.HCM', N'Nam', N'2155221345', N'0356443556   ', N'Việt Nam')
INSERT [dbo].[tbl_khachhang] ([MAKHACHHANG], [TENKHACHHANG], [TINH/THANHPHO], [GIOITINH], [CMND], [SDT], [QUOCTICH]) VALUES (N'KH02', N'Lê Hoài Hoàng', N'Vũng Tàu', N'Nam', N'2122594254', N'0346536673   ', N'Việt Nam')
INSERT [dbo].[tbl_khachhang] ([MAKHACHHANG], [TENKHACHHANG], [TINH/THANHPHO], [GIOITINH], [CMND], [SDT], [QUOCTICH]) VALUES (N'KH03', N'Tran Duc Bo', N'TP.HCM', N'Nãm', N'2122445221', N'0987657787   ', N'Việt Nam')
GO
INSERT [dbo].[tbl_loaiphong] ([MALOAIPHONG], [TENLOAIPHONG], [TRANGBI]) VALUES (N'LP01', N'Phòng Standard (STD)', N'Đơn giản, rẻ')
INSERT [dbo].[tbl_loaiphong] ([MALOAIPHONG], [TENLOAIPHONG], [TRANGBI]) VALUES (N'LP02', N'Phòng Superior (SUP)', N'Tiện nghi, view đẹp')
INSERT [dbo].[tbl_loaiphong] ([MALOAIPHONG], [TENLOAIPHONG], [TRANGBI]) VALUES (N'LP03', N'Phòng Deluxe (DLX)', N'Thiệt bị cao cấp, view đẹp')
GO
INSERT [dbo].[tbl_nhanvien] ([MANHANVIEN], [TENNHANVIEN], [MACHUCVU], [GIOITINH], [NGAYSINH], [TINH/THANHPHO], [SDT]) VALUES (N'NV01', N'Oằng Tà Là Nhoằng', N'CV03', N'Nam', CAST(N'1980-11-01T00:00:00' AS SmallDateTime), N'Thái Bình', N'0156928457     ')
INSERT [dbo].[tbl_nhanvien] ([MANHANVIEN], [TENNHANVIEN], [MACHUCVU], [GIOITINH], [NGAYSINH], [TINH/THANHPHO], [SDT]) VALUES (N'NV02', N'Đoàn Thị Kết', N'CV01', N'Nữ', CAST(N'1999-12-08T00:00:00' AS SmallDateTime), N'Bình Định', N'0894222333     ')
INSERT [dbo].[tbl_nhanvien] ([MANHANVIEN], [TENNHANVIEN], [MACHUCVU], [GIOITINH], [NGAYSINH], [TINH/THANHPHO], [SDT]) VALUES (N'NV03', N'Sẵn Văn Sàng', N'CV03', N'Nam', CAST(N'1980-11-01T00:00:00' AS SmallDateTime), N'Thái Bình', N'0156928457     ')
GO
INSERT [dbo].[tbl_phieudangky] ([MAPHIEUDANGKY], [MAKHACHHANG], [MANHANVIEN], [NGAYLAP], [NGAYDI], [MAPHONG], [TRATRUOC], [DONVI], [MADICHVU]) VALUES (N'DK01', N'KH01', N'NV09', CAST(N'2020-07-02T00:00:00' AS SmallDateTime), CAST(N'2020-07-04T00:00:00' AS SmallDateTime), N'P01', 200000, N'd', N'DV01')
INSERT [dbo].[tbl_phieudangky] ([MAPHIEUDANGKY], [MAKHACHHANG], [MANHANVIEN], [NGAYLAP], [NGAYDI], [MAPHONG], [TRATRUOC], [DONVI], [MADICHVU]) VALUES (N'DK02', N'KH02', N'NV09', CAST(N'2020-07-02T00:00:00' AS SmallDateTime), CAST(N'2020-07-03T00:00:00' AS SmallDateTime), N'P02', 40000, N'h', N'DV01')
INSERT [dbo].[tbl_phieudangky] ([MAPHIEUDANGKY], [MAKHACHHANG], [MANHANVIEN], [NGAYLAP], [NGAYDI], [MAPHONG], [TRATRUOC], [DONVI], [MADICHVU]) VALUES (N'DK03', N'KH03', N'NV02', CAST(N'2020-07-02T00:00:00' AS SmallDateTime), CAST(N'2020-07-04T00:00:00' AS SmallDateTime), N'P03', 100000, N'h', N'DV02')
GO
INSERT [dbo].[tbl_phong] ([MAPHONG], [SOGIUONG], [TINHTRANG], [MALOAIPHONG], [GIAPHONG], [DONVI]) VALUES (N'P01', N'1 giường', N'Đã thuê', N'LP01', 50000, N'h')
INSERT [dbo].[tbl_phong] ([MAPHONG], [SOGIUONG], [TINHTRANG], [MALOAIPHONG], [GIAPHONG], [DONVI]) VALUES (N'P02', N'2 giường ', N'Đã thuê', N'LP01', 75000, N'h')
INSERT [dbo].[tbl_phong] ([MAPHONG], [SOGIUONG], [TINHTRANG], [MALOAIPHONG], [GIAPHONG], [DONVI]) VALUES (N'P03', N'1 giường lớn ', N'Đã thuê', N'LP01', 75000, N'h')
GO
ALTER TABLE [dbo].[tbl_hoadon]  WITH CHECK ADD  CONSTRAINT [fk_tbl_hoadon_tbl_nhanvine] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[tbl_nhanvien] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[tbl_hoadon] CHECK CONSTRAINT [fk_tbl_hoadon_tbl_nhanvine]
GO
ALTER TABLE [dbo].[tbl_nhanvien]  WITH CHECK ADD  CONSTRAINT [fk_tbl_nhanvien_tbl_chucvu] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[tbl_chucvu] ([MACHUCVU])
GO
ALTER TABLE [dbo].[tbl_nhanvien] CHECK CONSTRAINT [fk_tbl_nhanvien_tbl_chucvu]
GO
ALTER TABLE [dbo].[tbl_phieudangky]  WITH CHECK ADD  CONSTRAINT [FK_tbl_phieudangky_tbl_dichvu] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[tbl_dichvu] ([MADICHVU])
GO
ALTER TABLE [dbo].[tbl_phieudangky] CHECK CONSTRAINT [FK_tbl_phieudangky_tbl_dichvu]
GO
ALTER TABLE [dbo].[tbl_phieudangky]  WITH CHECK ADD  CONSTRAINT [fk_tbl_phieudangky_tbl_khachhang] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[tbl_khachhang] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[tbl_phieudangky] CHECK CONSTRAINT [fk_tbl_phieudangky_tbl_khachhang]
GO
ALTER TABLE [dbo].[tbl_phieudangky]  WITH CHECK ADD  CONSTRAINT [fk_tbl_phieudangky_tbl_nhanvien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[tbl_nhanvien] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[tbl_phieudangky] CHECK CONSTRAINT [fk_tbl_phieudangky_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_phieudangky]  WITH CHECK ADD  CONSTRAINT [fk_tbl_phieudangky_tbl_phong] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[tbl_phong] ([MAPHONG])
GO
ALTER TABLE [dbo].[tbl_phieudangky] CHECK CONSTRAINT [fk_tbl_phieudangky_tbl_phong]
GO
ALTER TABLE [dbo].[tbl_phong]  WITH CHECK ADD  CONSTRAINT [fk_tbl_phong_tbl_loaiphong] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[tbl_loaiphong] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[tbl_phong] CHECK CONSTRAINT [fk_tbl_phong_tbl_loaiphong]
GO
ALTER TABLE [dbo].[tbl_phieudangky]  WITH CHECK ADD  CONSTRAINT [check_phieudangky] CHECK  (([NGAYDI]>[NGAYLAP]))
GO
ALTER TABLE [dbo].[tbl_phieudangky] CHECK CONSTRAINT [check_phieudangky]
GO
USE [master]
GO
